---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
<!-- <span class="post-date">{{ page.date | date_to_string }}</span> -->
  {{ content }}

<!--  <p class="sig">-= 8 =-</p>      /* for now I want to keep this maunual -->

  <div class="post-subscription-note">
    Stay up to date &#8211; subSCRIBE via <a href="{{ '/feed.xml' | relative_url }}">RSS Feed</a> or <a href="YOUR_EMAIL_SUBSCRIPTION_PAGE_HERE">Email Updates</a>.
  </div>
</div>

<div id="post-nav">
  <div class="nav-row-main">
    {% if page.previous %}
      <a class="prev-item" href="{{ page.previous.url | prepend: site.baseurl }}">
        &larr; Previous: {{ page.previous.title }}
      </a>
    {% else %}
      <a class="home-left" href="{{ site.baseurl }}/">Home</a>
    {% endif %}

    {% if page.next %}
      <a class="next-item" href="{{ page.next.url | prepend: site.baseurl }}">
        Next: {{ page.next.title }} &rarr;
      </a>
    {% else %}
      <a class="home-right" href="{{ site.baseurl }}/">Home</a>
    {% endif %}
  </div>

  {% if page.previous and page.next %}
    <div class="nav-row-sub">
      <a class="home-center" href="{{ site.baseurl }}/">Home</a>
    </div>
  {% endif %}
  
  <div class="post-copyright">
    &copy; 2011–{{ site.time | date: '%Y' }}.<span class="mobile-break"></span>All rights reserved.
  </div>  
</div>